doctype
html(lang="en-gb")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property="og:type", content="website")

        title #{headline} – Daily Fail

        link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")
        link(rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#0060ff")
        link(rel="shortcut icon" href="/assets/favicon.ico")
        
        meta(property="og:url" content=`https://daily-fail-generator.herokuapp.com/${url}`)
        meta(property="og:type" content="article")
        meta(property="og:title" content=`${headline}`)
        meta(property="og:description" content=`${headline} by Daily Fail Generator`)
        meta(property="og:locale" content="en-gb")

        link(rel="stylesheet", type="text/css", href="/css/index.css")
    body
        .container
            header.Header
                <svg class="Header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220.1 40.8">
                    <title>Daily Fail Online</title>
                    <path d="M127.1 21.2c0-10-3.1-14.7-10-14.7-6.4 0-10 4.4-10 14.7v.8c0 10 3.6 14.4 10 14.4s10-3.8 10-14.3zm-10 17.5c-7.6 0-12.7-5.1-12.7-16v-2c0-10.6 4.6-16.3 12.7-16.3 8.5 0 12.8 5.8 12.8 16.4v1.7c0 11-4.6 16.1-12.8 16.1zm34-1V19c0-2.7-2.2-4.6-5.8-4.6a9.2 9.2 0 0 0-8.4 5.4v18h-2.7V13h2.5v4.5c1.2-2.6 4.6-5.3 9.4-5.3 4.6 0 7.6 2.5 7.6 7.2v18.3zm7.5.5V4.8h3v33.4zm8.2 0V12.8h2.7v25.4zm-.4-28.3V6.1h3.4v3.8zm25.5 27.9V19c0-2.7-2.2-4.6-5.8-4.6a9.2 9.2 0 0 0-8.4 5.3v18H175V13.1h2.5v4.5c1.2-2.6 4.6-5.3 9.4-5.3 4.6 0 7.6 2.5 7.6 7.2v18.3zm9.4-11.5c0 7 3.7 10 9 10a16.6 16.6 0 0 0 8-1.9v2.2a16 16 0 0 1-8.6 2c-5 0-11.1-3-11.1-12.2v-1.8c0-7.9 4.6-12.4 10.8-12.4 6.7 0 10.6 4.7 10.6 12.3v1.8zm8.3-11.8c-4.6 0-8.2 3.2-8.3 9.7h16.1c0-6.5-3-9.7-7.9-9.7zM65 34.5a1 1 0 0 1 .2 1l-6 5-10-5a.4.4 0 0 0-.8 0l-6 5c-8-1.2-9.4-7.2-9.5-8.3-.6-8.9 2.7-11 2.7-11a44.1 44.1 0 0 1 15.2-10.4c.9-.6 1.3 0 1.3 0s9.9 5 10.4 5.6a1 1 0 0 1 .2 1.1L61.1 19c-.4 0-.3.6-.3.6v12zM47.3 34c1.7.8 2.4-.4 2.4-.4V20l-5.2-3.6a6.4 6.4 0 0 0-4 5.1 10.8 10.8 0 0 0 .9 7 16.1 16.1 0 0 0 6 5.6zm23.2-22a.7.7 0 0 1 1.1 0c.6.6 9 5.2 9 5.2s.6.4 0 .8a5.4 5.4 0 0 1-1.6.7s-.3-.3-.5.7 0 13 0 13a.6.6 0 0 0 .3.7l3.1 1.8s.6.5 0 .7-6.6 4.8-6.6 4.8l-9-4.7a.8.8 0 0 1 .2-1.1l1.5-1.3a5.7 5.7 0 0 0 0-1.2l-.2-12s.3-.5-.5-.7a29.2 29.2 0 0 1-3.1-1.9s-.4-.3 0-1 6.3-4.4 6.3-4.4zm1.6-1.3a8.3 8.3 0 0 1-1-5.5 6.2 6.2 0 0 1 2.8-3.6 3.2 3.2 0 0 1 3.3.2s2.2 1 1.3 4.5a10.3 10.3 0 0 1-5.2 5.1 1 1 0 0 1-1.1-.7zm11.2-5.3l11.3-3.6c1.3-.3 1.2.3 1.2.3s-.3 29-.1 30 .7.8.7.8l2.8 1.9a.5.5 0 0 1 .3.8L93.9 40s-9.2-4.1-10-4.6c-.9-.6-.2-1-.2-1l1.6-1.6s.3-23.8-.2-25A3.3 3.3 0 0 0 83.2 6c-.3-.5 0-.6 0-.6z" fill-rule="evenodd"/><path d="M22.7 17.3l-4.2 5.8V6.9l6.1 3.1 8.9-5.4L25.4 0l-10 6.2-7.3-4.7-8.1 5L6 11.2v22.7l-3 1.5 10 5.4 7.7-4.6-2.4-2v-9.6h11.2l4.6-5v-2.3zm-5 17l-1.2-.8V7.7l1.2-.8z"/>
                </svg>

            main
                article.Story
                    .row
                        .col-xs-12
                            header.Story__header
                                h1.Story__headline !{headline}
                                .row
                                    .col-xs-12.col-sm-5
                                        p.Story__author By <strong>Daily Fail Generator</strong>
                                        p.Story__published 
                                            small Published #{publishedDisplay}
                                    .col-xs-12.col-sm-7
                                        .Story__header-share
                                            include _share-buttons
                        .col-xs-12.col-md-8 !{story}
                        .col-xs-12
                            .Story__share
                                include _share-buttons
            footer.Footer
                p 
                    small These stories are randomly generated each time you refresh the page.
                a(href="/" role="button").Button Another!

                p Based off <a href="http://www.qwghlm.co.uk/toys/dailymail/" target="_blank">Daily Mail-omatic by Chris Applegate</a> and <a href="https://charlieharvey.org.uk/daily_mail/" target="_blank">Chris Harvey's Daily Mail generator</a>

        if development
            script(src="//localhost:35729/livereload.js")
        else
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145450285-1"></script>
            <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145450285-1');</script>
